/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--dark-gray-100: #050505;
	--dark-gray-200: #1F1F1F;
	--dark-gray-300: #2D2D2D;
	--dark-gray-400: #3A3A3A;
	--medium-gray-100: #757575;
	--medium-gray-200: #E9E9E9;
	--medium-gray-300: #F4F4F4;
	--medium-gray-400: #FFFFFF;
	--purple: #A445ED;
	--vibrant-red: #FF5252;
}  
* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	padding: 1rem;
	background-color: var(--medium-gray-400);
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar {
	justify-content: space-between;
	display: flex;
	/* padding: 1rem; */
}
.navbar-right {
    width: 50%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.navbar-right hr {
	border-left: 1px solid #000000; /* Adjust the color and thickness as needed */
	height: 1rem;
	width: fit-content;
	margin: 0;
}
.search-bar {
    margin-top: 2.813rem;
    padding: 0.5rem;
    justify-content: space-between;
    display: flex;
    border: 0.1rem solid rgb(244 244 244);
    border-radius: 1rem;
    background: rgb(244 244 244);
}


.search-bar input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    font-weight: bold;
    font-size: 0.125;
}

.pronoun {
    margin-top: 2.813rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pronoun p:first-child{
   font-size: 5rem;
}